*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
body{
    height: 100dvh;
    background-color: rgb(255, 255, 255);
    font-family: "Ubuntu Sans", sans-serif;
    font-variation-settings:
    "wdth" 100;
}

.container{
    width: 1200px;
    max-width: 1200px;
    height: fit-content;
    margin: auto;
}
@media screen and (max-width:400px) {
    .container{
        width: 90%;
    }
}

.container .title{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-top: 100px;

}
#todo-form{
    margin-top: 30px;

}
.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-wrapper{
    width: 300px;
    height: 35px;
}
@media screen and (max-width:400px) {
    .input-wrapper{
        width: 260px;
    }
}
.input-wrapper #task-input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 16px;
    background-color: rgb(240, 240, 240);
}
.form-container #add-btn{
    height: 35px;
    padding: 0 30px;
    outline: none;
    border: none;
    background-color: rgb(9, 185, 9);
    font-size: 16px;
    border-radius: 10px;
    margin-left: 20px;
    cursor: pointer;
}
 #add-btn:hover{
    box-shadow: 3px 3px 12px gray;
}
#task-input:focus{
    box-shadow: 3px 3px 12px gray;
}
.table-header{
    width: fit-content;
    margin: 30px auto;
    background-color: lightblue;
    padding: 20px;
    border-radius: 15px;
}
.container  .table-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 380px;
    padding:15px 15px ;
    border-radius: 5px;
    background-color: #fff;
}
.container  .table-top .action-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.action-wrapper .task-delete-btn{
    margin-left: 10px;
}
.container .table-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 380px;
    margin: 10px 0;
    background-color: #fff;
    padding: 8px 15px;
    border-radius: 5px;

}

.container .table-bottom .action-wrapper{
    display: flex;
    align-items: center;
}
.container img {
    height: 30px;
    width: 20px;
    cursor: pointer;
}

.container .table-bottom .task-edit-btn:hover{
    cursor: pointer;
}

.container .table-bottom .task-delete-btn:hover{
    cursor: pointer;
}
#modal{
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    width: fit-content;
    height: fit-content;
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: #22222277;
    position:fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-modal-wrapper{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
#modal-input{
    height: 30px;
    width: 260px;
}
#modal-btn{
outline: none;
border: none;
background-color: rgb(12, 145, 12);
font-size: 16px;
padding: 6px 10px;
border-radius: 5px;
margin-left: 10px;
}
.hidden{
    display: none;
}
#modal{
    position: relative;
}
#modal-close{
    outline: none;
    border: none;
    color: red;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: lightblue;
    font-size: 16px;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
}